apiVersion: v1
kind: Secret
metadata:
  name: azureai-secrets
  namespace: nosi-fusion-innovation-promptfoo
type: Opaque
data:
  AZURE_API_KEY: <BASE64_ENCODED_KEY>
  AZURE_API_HOST: <BASE64_ENCODED_HOST>